@model Spedition.Models.Speditions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Speditions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.start_place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.start_place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.end_place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.end_place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Truck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Truck.truck_manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trailer.trailer_manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.driver_city)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_spedition">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
