@model IEnumerable<Speditions>

@{
    ViewData["Title"] = "Speditions";
}

<div class="container p-3">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Speditions list</h2>
        </div>
        <div class="col-6 text-right">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a asp-controller="Speditions" asp-action="Create" class="btn btn-primary">
                    Add new spedition
                </a>
            }
        </div>
    </div>
    <br />
    @using (Html.BeginForm("Index", "Speditions", FormMethod.Post))
        {
            <div class="col-6">
                Search by driver name or number @Html.TextBox("searchString")
                <input id="Submit1" type="submit" value="Search" class="btn btn-secondary"/>
            </div>
        }
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-brodered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.start_place)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.end_place)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Truck.truck_number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Trailer.trailer_number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Driver.driver_number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Driver.driver_name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="10%">@Html.DisplayFor(modelItem => obj.start_place)</td>
                    <td width="10%">@Html.DisplayFor(modelItem => obj.end_place)</td>
                    <td width="10%">@Html.DisplayFor(modelItem => obj.Truck.truck_number)</td>
                    <td width="10%">@Html.DisplayFor(modelItem => obj.Trailer.trailer_number)</td>
                    <td width="10%">@Html.DisplayFor(modelItem => obj.Driver.driver_number)</td>
                    <td width="15%">@Html.DisplayFor(modelItem => obj.Driver.driver_name)</td>
                    <td class="text-center">
                        <div class="w-75 vtn-group" role="group">
                            <a asp-controller="Speditions" asp-route-Id="@obj.id_spedition" asp-action="Details" class="btn btn-primary">
                                Details
                            </a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-controller="Speditions" asp-route-Id="@obj.id_spedition" asp-action="Edit" class="btn btn-success">
                                    Edit
                                </a>
                                <a asp-controller="Speditions" asp-route-Id="@obj.id_spedition" asp-action="Delete" class="btn btn-danger">
                                    Delete
                                </a>
                            }
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no speditions in database</p>
    }
</div>