@model IEnumerable<Spedition.Models.Speditions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.start_place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.end_place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Truck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.start_place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Truck.truck_manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trailer.trailer_manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.driver_city)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_spedition">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_spedition">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_spedition">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
