@model IEnumerable<Driver>

@{
    ViewData["Title"] = "Drivers";
}

<div class="container p-3">
    <div class="row pt-6">
        <div class="col-6">
            <h2 class="text-primary">Drivers list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Driver" asp-action="Create" class="btn btn-primary">
                Add new driver
            </a>
        </div>
    </div>
    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-brodered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        City
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="25%">@obj.name</td>
                    <td width="25%">@obj.surname</td>
                    <td width="25%">@obj.city</td>
                    <td class="text-center">
                        <div class="w-75 vtn-group" role="group">
                            <a asp-controller="Driver" asp-route-Id="@obj.id_driver" asp-action="Edit" class="btn btn-success">
                                Edit
                            </a>
                            <a asp-controller="Driver" asp-route-Id="@obj.id_driver" asp-action="Delete" class="btn btn-danger">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There are no drivers in database</p>
    }
</div>